    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>Nemo<i class="fa fa-spin">~</i>world</b></a>
        </div>
        <div id="navbar" class="navbar-collapse navbar-right collapse">
          <ul class="nav navbar-nav">
            <li {{ if or (eq .Title "Blogs") (eq .Section "blog") }}class="active"{{ end }}>
              <a href="/blog">Blog</a>
            </li>
            <li {{ if or (eq .Title "Projects") (eq .Section "project") }}class="active"{{ end }}>
              <a href="/project">Projects</a>
            </li>
            <li {{ if or (eq .Title "Notes") (eq .Section "note") }}class="active"{{ end }}>
              <a href="/note">Notes</a>
            </li>
            <li {{ if eq .Title "About" }}class="active"{{ end }}>
              <a href="/about">About</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>