<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="hack gruvbox-dark">
		<a style="display: none;" rel="me" href="https://gardenstate.social/@nrdufour">Mastodon</a>
		<div class="container">
			<header>
			{{- partial "nav.html" . -}}
			</header>
			<br/>
			<br/>
			<div class="snowframe">
				<div>
					<div class="grid">
						<div class="cell -9of12">
							<h1>Nicolas Dufour</h2>
							Senior Staff Plaform Engineer with a foot in geophysics and another for weird physics theories.
							<br/>
							<br/>
							A lot of projects in the TODO list. A few already done and far more to finish obviously.
							<br/>
							<br/>
							<h2>Latest posts</h2>
							<ul>
							{{ range first 5 ( (where .Site.RegularPages "Section" "posts").ByDate).Reverse }}
							<li>
								{{ dateFormat "2006-01-02" .Date }} <a href="{{ .RelPermalink }}">{{ .Title }}</a>
							</li>
							{{ end }}
							</ul>
						</div>
						<div class="cell -3of12" style="text-align: center;">
							<img src="/images/profile_picture.jpg" />
							<br/>
							<a href="/contact">Contact me</a>
						</div>
					</div>
				</div>
			</div>
			<hr>
			{{- partial "footer.html" . -}}
		</div>
    </body>
</html>