<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nemoworld - {{ .Title }}</title>
	<script src="{{ "js/theme.js" | relURL }}"></script>
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	<link rel="icon" href="/favicon.ico" sizes="32x32">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<meta name="fediverse:creator" content="@nrdufour@gardenstate.social">
	<link rel="alternate"
		type="application/rss+xml"
		href="{{.Site.BaseURL }}posts/index.xml"
		title="Nemoworld - {{ .Title }}">
	<script defer src="/js/gallery.js"></script>
	<script defer src="/js/social-icons.js"></script>
</head>
