{{ partial "header.html" . }}
{{ $name := index .Params.topics }}
    <div class="row">
		<div class="col">
            <h1 class="note-title">
                <a href="/note"><i class="material-icons-two-tone">note</i></a> / {{ $name }} / {{ .Title }}
            </h1>
        </div>
    </div>

    <div class="row">
		{{ if .Params.hero }}
        <div class="col-sm-2 col-md-2 col-lg-2">
			<img src="{{ .Params.hero }}" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		{{ else }}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{{ end }}
			<p>Last update: <span class="mono">{{ dateFormat "2006 Jan 02" .Date }}</span></p>
            {{ .Content }}
        </div>
    </div>
{{ partial "footer.html" . }}
