{{ define "main" }}
    <h1>Projects</h1>

    <h2>In progress</h2>
    <div class="grid">
    {{ range (where .Pages "Params.unmaintained" false).GroupByParam "title"}}
        {{ range .Pages }}
            <div class="cell -6of12 content">
                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                <blockquote class="blockquote">{{ .Params.desc }}</blockquote>
            </div>
        {{ end }}
    {{ end }}
    </div>

    <hr/>

    <h2>Unmaintained</h2>
    <div class="grid">
    {{ range (where .Pages "Params.unmaintained" true).GroupByParam "title"}}
        {{ range .Pages }}
            <div class="cell -6of12 content">
                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                <blockquote class="blockquote">{{ .Params.desc }}</blockquote>
            </div>
        {{ end }}
    {{ end }}
    </div>

{{ end }}
