<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
		<a href="#main-content" class="skip-link">Skip to main content</a>
		<div class="container">
			<header>
			{{- partial "nav.html" . -}}
			</header>
			<main id="main-content">
			{{- block "main" . }}{{- end }}
			</main>
			<div class="ornament-divider">
				<img src="/images/ornament-left.svg" alt="" class="ornament-left" aria-hidden="true">
				<img src="/images/ornament-right.svg" alt="" class="ornament-right" aria-hidden="true">
			</div>
			{{- partial "footer.html" . -}}
		</div>
    </body>
</html>