{{ partial "header.html" . }}

	<div class="jumbotron main-banner">
		<h1 class="display-5">Welcome to Nemoworld!</h1>
		<p class="lead">A few notes on the net</p>
	</div>

    <div class="row">
		<div class="col">
			<h3><a href="/project/">Current Projects</a></h3>
			<hr/>
            <div class="row">
                {{ range first 3 (where .Site.RegularPages "Section" "project") }}
				<div class="col">
                    {{ .Render "summary" }}
                </div>
                {{ end }}
            </div>
        </div>
		<div class="col-lg-4">
			<h3 ><a href="/blog/">Latest News</a></h3>
			<div class="row">
				<div class="col">
					{{ range first 5 (.Site.RegularPages.ByDate).Reverse }}
					<p>
						{{ .Render "short_summary"}}
					</p>
					{{ end }}
				</div>
			</div>
        </div>
    </div>


{{ partial "footer.html" . }}
