<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="/">Nemoworld</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">

			{{ $current := . }}
			{{ range .Site.Menus.nav }}
			{{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
			{{ $active = or $active (eq .Name $current.Title) }}
			{{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "posts")) }}
			{{ $active = or $active (and (eq .Name "Notes") (eq $current.Section "notes")) }}
			{{ $active = or $active (and (eq .Name "Projects") (eq $current.Section "projects")) }}
			{{ $active = or $active (and (eq .Name "Recipes") (eq $current.Section "recipes")) }}
			{{ $active = or $active (and (eq .Name "Drawings") (eq $current.Section "drawings")) }}
			<li class="nav-item">
				<a href="{{ .URL }}" class="nav-link {{ if $active }}active{{ end }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</div>
</nav>
