{{ define "main" }}
	<div class="jumbotron main-banner">
		<h1 class="display-5">Welcome to Nemoworld!</h1>
		<p class="lead">A few notes on the net</p>
	</div>

    <div class="row">
		<div class="col">
			<h3><a href="/projects/">Current Projects</a></h3>
			<hr/>
            <div class="row">
                {{ range first 2 (where .Site.RegularPages "Section" "projects") }}
				<div class="col">
                    {{ .Render "summary" }}
                </div>
                {{ end }}
            </div>
        </div>
		<div class="col-lg-4">
			<h3 ><a href="/posts/">Latest News</a></h3>
			<div class="row">
				<div class="col">
					<ul>
					{{ range first 5 ( (where .Site.RegularPages "Section" "posts").ByDate).Reverse }}
					<li>
						{{ .Render "short_summary"}}
					</li>
					{{ end }}
					</ul>
				</div>
			</div>
        </div>
    </div>
{{ end }}
