{{ partial "header.html" . }}

    <div class="page-header">
        <h1>{{ .Title }}</h1>
        <p>Stack of bits and pieces of information I wish to keep and share. <br/> More or less ordered ;-)</p>
    </div>

	<div class="row">
    {{ range $name, $taxonomy := .Site.Taxonomies.topics }}
	<div class="col">
		<div class="card">
			<div class="card-block">
				<h3 class="card-title" style="text-transform: capitalize; font-variant: small-caps;">{{ $name }}</h3>
				<ul class="list-unstyled">
				{{ range .Pages.ByTitle }}
				   <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
				{{ end }}
				</ul>
			</div>
		</div>
	</div>
	{{ end }}
	</div>

{{ partial "footer.html" . }}
