{{ partial "header.html" . }}

<div class="container">

    <div class="page-header">
        <h1 class="text-center">{{ .Title }}</h1>
		<p>Trying to collect the recipes I like and tested.</p>
    </div>

	{{ range .Data.Pages }}
	<div class="row">
        <div class="col-lg-4 text-center">
			<a href="{{ .RelPermalink }}">
				<h3>{{ .Title }}</h3>
				<img src="/images/recipes/{{ .Params.photo }}" class="img-responsive img-thumbnail" />
			</a>
        </div>
    </div>
	{{ end }}

</div>

{{ partial "footer.html" . }}
