<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nemoworld - {{ .Title }}</title>
	<link rel="stylesheet" href="{{ "css/hack.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/snow.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/gruvbox-dark.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/shim.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/lightbox.css" | relURL }}">
	<meta name="fediverse:creator" content="@nrdufour@gardenstate.social">
	<link rel="alternate"
		type="application/rss+xml"
		href="{{.Site.BaseURL }}posts/index.xml"
		title="Nemoworld - {{ .Title }}">
	<script defer data-domain="nemoworld.info" src="https://plausible.io/js/script.outbound-links.js"></script>
	<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
