<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Site.Title }}</title>
	<link rel="stylesheet" href="{{ "css/hack.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/snow.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/gruvbox-dark.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/shim.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/lightbox.css" | relURL }}">
        <meta name="fediverse:creator" content="@nrdufour@gardenstate.social">
</head>
